@import '../vars';

#about-me-container {
	padding-top: 20px;
	padding-bottom: 20px;

	@media #{$phone} {
	}
	
	@media #{$big-screen} {
		padding-top: 5rem;
		padding-bottom: 5rem;
		height: 70rem;
	}

	background-color: $me-background;
	color: $white;
	
	.resume-container {
		display: flex;
		justify-content: center;

		.resume {
			width: 25vw;
			height: 31vw;
			border: none;
			box-shadow: 0px 0px 63px 6px rgba(0,0,0,0.21);
			
			@media #{$big-screen} {
				width: 34rem;
				height: 42.16rem;
			}
		}
	}

	h2 {
		font-family: $normal-font;
		margin-top: 1vw;
		width: 70%;
		text-align: center;

		font-size: 3vw;
		@media #{$phone} { 
			font-size: 5vw; 
		}

		@media #{$big-screen} {
			font-size: 3rem;
		}
	}

	.about-me-terminal {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 5px;
		font-size: 2vw;
		font-family: $code-font;
		padding-left: 20px;
		padding-right: 20px;
		border-top: 1.7vw solid rgb(209, 208, 208);
		background-color: rgb(47, 47, 47);

		@media #{$big-screen} {
			border-top-width: 1.8rem;
			font-size: 1.6rem;
		}

		.about-me-terminal-button {
			position: absolute;
			top: -1.7vw;
			left: 5px;
			color: rgb(236, 124, 117);
			font-size: 1.2vw;

			@media #{$big-screen} {
				font-size: 1.5rem;
				top: -2rem;
			}
		}

		div {
			margin-top: 1vw;
			margin-bottom: 1vw;
		}

		a {
			color: $white;
		}
	}

	.resume-link {
		font-family: $header-font;
		color: $white;
		font-size: 4vw;
		text-decoration: underline;

		@media #{$big-screen} {
			font-size: 4rem;
		}
	}
}
