@import '../vars';

#experience-container {
	background-color: $alt-background;
	border-top: 2vw double $me-background;
	color: $white;
	font-family: $normal-font;

	.icon {
		text-align: center;
		font-size: 4vw;
	}

	.experience {
		display: flex;
		justify-content: center;
		padding-bottom: 2vw;

		.center-container {
			width: 50vw;
			background-color: $me-background;
			border-radius: 2vw;
			box-shadow: inset 0px -0.3vw 0px 0px rgba(0, 0, 0, 0.39);
			padding: 3vw;
			color: $white;
		}

		h2 {
			font-family: $header-font;
			font-size: 3vw;
			margin-bottom: 0;
			margin-top: 0;
		}

		.position {
			display: flex;
			justify-content: flex-start;
			align-items: baseline;
			font-size: 2vw;
			font-family: $header-font;
			div {
				margin-right: 1vw;
			}
			small {
				font-size: 1.4vw;
				margin-left: 1vw;
			}
		}

		.description {
			margin-top: 1vw;
			font-size: 2vw;
		}
	}
}
