@import '../vars';

#skills-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: $white;
	background-color: $me-background;
	border-top: 2vw double $alt-background;
	padding-bottom: 2vw;

	@media #{$big-screen} {
		border-top: $section-border-size double $alt-background;
		padding-bottom: $section-border-size;
	}

	h1 {
		display: block;
		width: 100%;
	}

	.icon {
		text-align: center;
		font-size: 4vw;
		padding-bottom: 2vw;

		@media #{$big-screen} {
			font-size: 4rem;
			padding-bottom: 2rem;
		}
	}

	h2 {
		font-family: $header-font;
		font-size: 2vw;

		@media #{$big-screen} {
			font-size: 2.3rem;
		}

		@media #{$phone} {
			font-size: 7vw;
		}
	}

	.skills-list {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.skill-category {
		@media #{$phone} {
			margin-top: 2rem;
		}
	}

	.skill {
		font-size: 2.3vw;
		font-family: $normal-font;

		@media #{$big-screen} {
			font-size: 1.8rem;
		}

		@media #{$phone} {
			font-size: 6vw;
		}
	}

	.skills-list-container {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;

		@media #{$phone} {
			width: initial;
			display: inline-flex;
			flex-direction: column;
		}
	}
}
