$white: rgb(233, 232, 232);
$black: rgb(17, 17, 17);

$intro-side-margins: 20px;
$me-background: rgb(77, 147, 111);
$alt-background: rgb(36, 36, 36);

$phone: "screen and (min-width: 1800px), screen and (orientation: portrait)";
