$white: rgb(233, 232, 232);
$black: rgb(17, 17, 17);

$intro-side-margins: 20px;
$me-background: rgb(77, 147, 111);
$alt-background: rgb(36, 36, 36);

$section-border-size: 1.7rem;

$header-font: 'Asap', sans-serif;
$normal-font: 'Raleway', serif;
$code-font: 'Source Code Pro', monospace;
$name-font: 'Mukta Mahee', serif;

$phone: "screen and (max-width: 8in)";
$big-screen: "screen and (min-width: 12in)";
